.output-wrapper{
  height: 90vh;
  width: 99vw;
}

.input-wrapper{
  text-align: center;
  padding-top: 4px;
  display: inline-block;
  height: 6vh;
  width: 99vw;
}

.spacer{
  height: 2px;
  width: 99vw;
  background-color: gray;
}

.input-box{
  width: 90vw;
}

.input-button{
  width: 5vw;
}

.page-wrapper {
  overflow: hidden;
}